.kycContainer {
  width: 100%;

  .outerContainerKyc {
    display: flex;
    flex-direction: row;

    .InnerContainer1 {
      flex: 0.5;
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
    .InnerContainer2 {
      flex: 0.5;
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    .dummyWrapper {
      flex: 0.5;
    }
  }

  .vLine {
    width: 0.1px;
    height: initial;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 22px;
    margin-right: 22px;
  }

  .mainTitle {
    font-size: 14px;
    font-weight: bold;
    color: #64748b;
    padding-bottom: 11px;
  }

  .splitBox {
    span {
      color: #475569;
    }

    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
  }

  .inputContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;

    textarea {
      height: auto;
    }

    span {
      font-size: 13.5px;
      color: #475569;
    }
  }

  .inputs {
    width: 100%;
    color: #64748b;
  }

  .genInfo {
    display: flex;
    flex-direction: row;

    .infoWrapper {
      flex: 0.5;
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    .branchWrapper {
      flex: 0.5;
      display: flex;
      gap: 10px;
      flex-direction: column;

      .allWrapper {
        .specialWrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          justify-content: center;
        }

        .buttonContainer {
          display: flex;
          justify-content: flex-end;
          padding-right: 30px;
          padding-top: 15px;

          .btn_secondary {
            border-radius: 0px;
            font-weight: bold;
            color: #000;
            border: 1px solid #e2e8f0;
          }
        }
      }
    }

    .dummyWrapper {
      flex: 0.5;
    }
  }

  .contInfo {
    display: flex;
    flex-direction: row;

    .mainWrapper {
      flex: 0.5;
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    .otherWrapper {
      flex: 0.5;
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    .dummyWrapper {
      flex: 0.5;
    }
  }
}
