.researchTitle {
  color: #64748b;
  position: relative;
  top: 25px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  width: 1103px;
  justify-content: space-between;
}

.tableResearch {
  contain: content;
  margin-top: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e2e8f0;

  .tableTitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;

    .statusTitle {
      width: 1103px;
      display: flex;
      flex-direction: row;

      .statusTitleItems {
        font-size: 12px;
        color: #475569;
        font-weight: bold;
        font-family: "inter";
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        left: 24px;
        position: relative;
      }

      :nth-child(1) {
        width: 220px;
        height: 42px;
      }

      :nth-child(2) {
        width: 460px;
        height: 42px;
      }

      :nth-child(3) {
        padding-left: 40px;
        width: 322px;
        height: 42px;
      }

      :nth-child(4) {
        width: 100px;
        height: 42px;
        padding-left: 20px;
      }
    }
  }

  .tableContent {
    height: 70px;
    background-color: #ffffff;
    border-top: 1px solid #e2e8f0;
    display: flex;
    align-items: center;

    .personsContainer {
      width: 240px;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 24px;

      .nameContainer {
        width: 182px;
        height: 72px;
        display: flex;
        align-items: center;
        font-weight: 500;
        margin-left: 12px;
      }
    }

    .hitTab {
      width: 460px;
      height: 70px;
      display: flex;
      align-items: center;
      font-size: 13px;
      color: #475569c2;
      padding-left: 4px;
    }

    .sourceTab {
      width: 322px;
      padding-left: 45px;
      height: 70px;
      display: flex;
      align-items: center;
      position: relative;
      font-weight: bold;
      font-size: 13px;
      color: #000;
      text-decoration: none;

      .icon {
        width: 20px;
        height: 20px;

        margin-left: 12px ;

        

        color: #0d8489;
      }
    }

    .OptionsContainer {
      width: 100px;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 28px;
    }
  }
}

.persons {
  .title {
    font-size: 14px;
    color: #64748b;
    margin-top: -20px;
  }

  margin-top: 30px;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .complianceAddBox {
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 68px;

    .name {
      width: 244px;
      height: 71px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .inputs {
        border: 1px solid #cbd5e1;
        width: 225px;
        height: 44px;
        border-radius: 4px;
      }

      ::placeholder {
        color: #94a3b8;
        opacity: 1;
      }

      :-ms-input-placeholder {
        color: #94a3b8;
      }

      ::-ms-input-placeholder {
        color: #94a3b8;
      }

      :nth-child(1) {
        color: #475569;
      }
    }

    .email {
      .inputs {
        border: 1px solid #cbd5e1;
        width: 470px;
        height: 44px;
        border-radius: 4px;
      }

      width: 494px;
      height: 71px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ::placeholder {
        color: #94a3b8;
        opacity: 1;
        padding-left: 8px;
      }

      :-ms-input-placeholder {
        color: #94a3b8;
      }

      ::-ms-input-placeholder {
        color: #94a3b8;
      }

      :nth-child(1) {
        color: #475569;
      }
    }

    .position {
      .inputs {
        border: 1px solid #cbd5e1;
        width: 200px;
        height: 44px;
        border-radius: 4px;
      }

      width: 224px;
      height: 71px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ::placeholder {
        color: #94a3b8;
        opacity: 1;
      }

      :-ms-input-placeholder {
        color: #94a3b8;
      }

      ::-ms-input-placeholder {
        color: #94a3b8;
      }

      :nth-child(1) {
        color: #475569;
      }
    }

    .buttonContainer {
      width: 98px;
      height: 68px;
      display: flex;
      align-items: center;
      margin-top: 13px;
      justify-content: center;
    }
  }
}

.sentimentsTable {
  .taskBox {
    margin-bottom: 16px;
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tablePersons {
    contain: content;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    transition: all 2s ease;

    .tableTitles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 42px;

      .statusTitle {
        display: flex;
        flex-direction: row;

        .statusTitleItems {
          align-items: center;
          display: flex;
          font-size: 12px;
          color: #475569;
          font-weight: bold;
          font-family: "inter";
          letter-spacing: 1px;
        }

        :nth-child(1) {
          width: 220px;
          height: 42px;
          padding-left: 24px;
        }

        :nth-child(2) {
          width: 460px;
          height: 42px;
          padding-left: 24px;
        }

        :nth-child(3) {
          width: 322px;
          height: 42px;
          padding-left: 64px;
        }

        :nth-child(4) {
          width: 100px;
          height: 42px;
          padding-left: 44px;
        }
      }
    }

    .tableContent {
      height: 70px;
      background-color: #ffffff;
      border-top: 1px solid #e2e8f0;
      display: flex;
      align-items: center;

      .personsContainer {
        width: 240px;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 14px;
        font-weight: bold;
        :nth-child(1) {
          padding-left: 12px;
        }
      }

      .hitContainer {
        width: 460px;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 4px;
        color: #475569c2;
        font-size: 13px;
      }

      .sourceContainer {
        width: 322px;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 45px;
        font-weight: bold;
        font-size: 13px;
        color: #000;
        text-decoration: none;

        .icon {
          margin-left: 12px;
          width: 20px;
          height: 20px;
          color: #0d8489;
        }
      }

      .OptionsContainer {
        width: 100px;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 28px;
      }
    }
  }
}
