.tableSignOff {
  contain: content;
  margin-top: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e2e8f0;

  .tableTitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;

    .statusTitle {
      // width: 1103px;
      display: flex;
      flex-direction: row;

      .statusTitleItems {
        align-items: center;
        justify-content: space-between;
        display: flex;
        font-size: 12px;
        color: #475569;
        font-weight: bold;
        font-family: "inter";
        letter-spacing: 1px;
      }

      :nth-child(1) {
        width: 520px;
        height: 42px;
        padding-left: 25px;
      }

      :nth-child(2) {
        width: 222px;
        height: 42px;
        padding-left: 24px;
      }

      :nth-child(3) {
        width: 180px;
        height: 42px;
        padding-left: 45px;
      }

      :nth-child(4) {
        width: 180px;
        height: 42px;
        padding-left: 67px;
      }
    }
  }

  .tableContent {
    height: 70px;
    background-color: #ffffff;
    border-top: 1px solid #e2e8f0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    :nth-child(1) {
      width: 520px;
      height: 70px;
      align-items: center;
      display: flex;
      //   padding-left: 25px;
    }

    .processTab {
      font-size: 14px;
      font-weight: bold;
      width: 222px;
    }

    .imageContainer {
      padding-left: 25px;
      .images {
        border-radius: 50%;
        // border: 1px solid #ffffff;
        position: relative;
      }
      .nameContainer {
        display: flex;
        flex-direction: column;
        width: 242px;
        height: 35px;
        align-items: flex-start;
        margin-left: 12px;
        :nth-child(1) {
          font-weight: bolder;
          font-size: 14px;
        }
        :nth-child(2) {
          color: #64748b;
          font-size: 12px;
        }
      }
    }

    .status {
      gap: 10px;
      width: 180px;
      height: 70px;
      display: flex;
      font-size: medium;
      font-weight: 300;
      align-items: center;
      :nth-child(1) {
        height: min-content;
        width: min-content;
      }
      .selected {
        color: #000;
      }

      .notSelected {
        color: #cbd5e1;
      }
    }
  }
}
