:root {
  --bg-color: 366px;
  --color: #003c6e;
}

.rightContent {
  .titleBox {
    font-weight: bold;
    font-size: 20px;
  }

  .tableOverview {
    contain: content;
    margin-top: 40px;
    width: 100%;
    height: 469px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;

    .tableTitles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 42px;

      .statusTitle {
        width: 1103px;
        display: flex;
        flex-direction: row;

        .statusTitleItems {
          width: 1103px;
          margin-left: 24px;
          margin-right: 85px;
          font-size: 12px;
          color: #475569;
          font-weight: bold;
          font-family: "inter";
          letter-spacing: 1px;
        }

        :nth-child(2) {
          margin-left: 320px;
          padding-left: 20px;
        }

        :nth-child(3) {
          margin-left: 70px;
          padding-left: 10px;
        }

        :nth-child(4) {
          margin-left: 75px;
          padding-left: 25px;
        }

        :nth-child(5) {
          margin-left: -20px;
          padding-left: 10px;
        }
      }
    }

    .tableContent {
      height: 71px;
      background-color: #ffffff;
      border-top: 1px solid #e2e8f0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .processTab {
        font-size: 14px;
        font-weight: bold;
        margin-left: 24px;
        width: 400px;
      }

      .imageContainer {
        :nth-child(1) {
          left: 12px;
        }

        :nth-child(3) {
          right: 12px;
        }

        :nth-child(4) {
          right: 24px;
        }

        :nth-child(5) {
          right: 36px;
        }

        .images {
          border-radius: 50%;
          // border: 1px solid #ffffff;
          position: relative;
        }
      }

      .date {
        margin-right: 26px;
      }
    }
  }

  .tableAudit {
    contain: content;
    margin-top: 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e2e8f0;

    .tableTitles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 42px;

      .statusTitle {
        // width: 1103px;
        display: flex;
        flex-direction: row;

        .statusTitleItems {
          align-items: center;
          display: flex;
          font-size: 12px;
          color: #475569;
          font-weight: bold;
          font-family: "inter";
          letter-spacing: 1px;
        }

        :nth-child(1) {
          width: 511px;
          height: 42px;
          padding-left: 24px;
        }

        :nth-child(2) {
          width: 332px;
          height: 42px;
          padding-left: 25px;
        }

        :nth-child(3) {
          width: 140px;
          height: 42px;
          padding-left: 45px;
        }

        :nth-child(4) {
          width: 120px;
          height: 42px;
          padding-left: 67px;
        }
      }
    }

    .tableContent {
      height: 70px;
      background-color: #ffffff;
      border-top: 1px solid #e2e8f0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      :nth-child(2) {
        width: 332px;
        height: 70px;
        align-items: center;
        display: flex;
        // padding-left: 44px;;
      }

      :nth-child(4) {
        width: 120px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        padding-right: 32px;
      }

      .processTab {
        font-size: 14px;
        font-weight: bold;
        padding-left: 24px;
        width: 511px;
      }

      .imageContainer {
        .images {
          border-radius: 50%;
          // border: 1px solid #ffffff;
          position: relative;
        }
        .nameContainer {
          display: flex;
          flex-direction: column;
          width: 242px;
          height: 35px;
          align-items: flex-start;
          margin-left: 12px;
          :nth-child(1) {
            font-weight: bolder;
            font-size: 14px;
          }
          :nth-child(2) {
            color: #64748b;
            font-size: 12px;
          }
        }
      }

      .activity {
        width: 140px;
        height: 70px;
        display: flex;
        align-items: center;

        :nth-child(1) {
          height: min-content;
          width: min-content;
        }
      }
    }
  }

  .taskBox {
    margin-bottom: 16px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder;
      color: #64748b;
      font-size: 14px;
    }
    .button--secondary {
      padding: 10px 10px;
      font-size: 14px;
      font-weight: bold;
      color: #64748b;
      height: 34px;
    }
  }

  .tableTask {
    contain: content;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    transition: all 2s ease;

    &.active {
      height: 250px;
    }

    .tableTitles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 42px;

      .statusTitle {
        // width: 1103px;
        display: flex;
        flex-direction: row;

        .statusTitleItems {
          align-items: center;
          display: flex;
          font-size: 12px;
          color: #475569;
          font-weight: bold;
          font-family: "inter";
          letter-spacing: 1px;
        }

        :nth-child(1) {
          width: 220px;
          height: 42px;
          padding-left: 24px;
        }

        :nth-child(2) {
          width: 523px;
          height: 42px;
          padding-left: 24px;
        }

        :nth-child(3) {
          width: 220px;
          height: 42px;
          padding-left: 24px;
        }

        :nth-child(4) {
          width: 120px;
          height: 42px;
          padding-left: 64px;
        }
      }
    }

    .tableContent {
      height: 70px;
      background-color: #ffffff;
      border-top: 1px solid #e2e8f0;
      display: flex;
      align-items: center;

      #assignee {
        padding-left: 20px;
      }

      .assigneeContainer {
        width: 220px;
        height: 70px;
        display: flex;
        align-items: center;

        .nameContainer {
          font-weight: bolder;
          padding-left: 12px;
          font-size: 14px;
        }
      }

      .taskList {
        padding-left: 24px;
        display: flex;
        justify-content: center;
        width: 523px;
        height: 70px;
        display: flex;
        flex-direction: column;

        :nth-child(1) {
          font-weight: bolder;
          font-size: 14px;
        }

        :nth-child(2) {
          font-size: 13px;
          color: #475569;
        }
      }

      #assignor {
        padding-left: 24px;
      }

      .date {
        width: 120px;
        height: 70px;
        display: flex;
        align-items: center;
        padding-left: 64px;
        font-weight: bolder;
      }
    }
  }

  .tableTeams {
    contain: content;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    transition: all 2s ease;

    &.active {
      height: 250px;
    }

    .tableTitles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 42px;

      .statusTitle {
        // width: 1103px;
        display: flex;
        flex-direction: row;

        .statusTitleItems {
          align-items: center;
          display: flex;
          font-size: 12px;
          color: #475569;
          font-weight: bold;
          font-family: "inter";
          letter-spacing: 1px;
        }

        :nth-child(1) {
          width: 220px;
          height: 42px;
          padding-left: 24px;
        }

        :nth-child(2) {
          width: 180px;
          height: 42px;
          padding-left: 28px;
        }

        :nth-child(3) {
          width: 533px;
          height: 42px;
          padding-left: 39px;
        }

        :nth-child(4) {
          width: 170px;
          height: 42px;
          padding-left: 64px;
        }
      }
    }

    .tableContent {
      height: 70px;
      background-color: #ffffff;
      border-top: 1px solid #e2e8f0;
      display: flex;
      align-items: center;

      #member {
        padding-left: 24px;
      }

      .memberContainer {
        width: 220px;
        height: 70px;
        display: flex;
        align-items: center;

        .nameContainer {
          font-weight: bolder;
          padding-left: 12px;
          font-size: 14px;
        }
      }

      .department {
        padding-left: 30px;
        width: 200px;
        height: 70px;
        display: flex;
        align-items: center;
        font-weight: bold;
      }

      .lastaction {
        padding-left: 20px;
        width: 533px;
        height: 70px;
        display: flex;
        align-items: center;
        font-weight: bold;
      }

      .date {
        width: 190px;
        height: 70px;
        display: flex;
        align-items: center;
        padding-left: 44px;
        font-weight: bold;
      }
    }
  }
}
