:root {
  --bg-color: 366px;
  --color: #003c6e;
}
.rightContent {
  .titleBox {
    font-weight: bold;
    font-size: 20px;
  }

  .table {
    margin-top: 40px;
    width: 1103px;
    height: 469px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;

    .tableTitles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 42px;

      .statusTitle {
        width: 1103px;
        display: flex;
        flex-direction: row;

        .statusTitleItems {
          width: 1103px;
          margin-left: 24px;
          margin-right: 85px;
          font-size: 12px;
          color: #475569;
          font-weight: bold;
          font-family: "inter";
          letter-spacing: 1px;
        }

        :nth-child(2) {
          margin-left: 320px;
        }

        :nth-child(3) {
          margin-left: 70px;
        }
        :nth-child(4) {
          margin-left: 75px;
        }
        :nth-child(5) {
          margin-left: -20px;
        }
      }
    }

    .tabelContent {
      width: 1103px;
      height: 70px;
      background-color: #ffffff;
      border-top: 1px solid #e2e8f0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .processTab {
        font-size: 14px;
        font-weight: bold;
        margin-left: 24px;
        width: 400px;
      }

      .tableStatus {
        width: auto;
        height: auto;
        border-radius: 50px;
        text-align: center;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .imageContainer {
        :nth-child(1) {
          left: 12px;
        }

        :nth-child(3) {
          right: 12px;
        }

        :nth-child(4) {
          right: 24px;
        }

        :nth-child(5) {
          right: 36px;
        }

        .images {
          border-radius: 50%;
          // border: 1px solid #ffffff;
          position: relative;
        }
      }

      .date {
        margin-right: 26px;
      }
    }
  }
}
