.summaryBody {
  padding-left: 30px;
  padding-top: 40px;
  position: relative;
  top: 130px;
  left: 255px;
  .titleBox {
    span {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .inputBox {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    width: 1080px;

    .transaction {
      color: #475569;
      width: 225px;
      height: 436px;
      display: flex;
      margin-right: 20px;
      flex-direction: column;
      justify-content: space-between;

      :nth-child(1) {
        font-size: 14px;
        font-weight: bold;
        color: #64748b;
      }
      .portalIcon {
        position: relative;
        top: 50px;
        left: 199px;
        margin-top: -37px;
      }

      .inputs {
        font-family: inter;
        padding: 10px;
        width: 225px;
        height: 44px;
        color: black;
        border-radius: 4px;
        border: 1.5px solid #cbd5e1;
      }

      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #94a3b8;
        opacity: 1;
        /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #94a3b8;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #94a3b8;
      }

      span {
        font-family: inter;
        color: #475569;
        font-size: 14px;
      }

      select {
        font-family: inter;
        padding: 10px;
        width: 225px;
        height: 44px;
        color: black;
        border-radius: 4px;
        border: 1.5px solid #cbd5e1;
      }
    }

    .info {
      color: #475569;
      width: 225px;
      height: 353px;
      display: flex;
      margin-right: 20px;
      flex-direction: column;
      justify-content: space-between;

      :nth-child(1) {
        font-size: 14px;
        font-weight: bold;
        color: #64748b;
      }

      .inputs {
        font-family: inter;
        padding: 10px;
        width: 225px;
        height: 44px;
        color: black;
        border-radius: 4px;
        border: 1.5px solid #cbd5e1;
      }

      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #94a3b8;
        opacity: 1;
        /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #94a3b8;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #94a3b8;
      }

      span {
        font-family: inter;
        color: #475569;
        font-size: 14px;
      }
      select {
        font-family: inter;
        padding: 10px;
        width: 225px;
        height: 44px;
        color: black;
        border-radius: 4px;
        border: 1.5px solid #cbd5e1;
      }
    }

    .companyLocation {
      color: #475569;
      width: 248px;
      height: 296px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      :nth-child(1) {
        font-size: 14px;
        font-weight: bold;
        color: #64748b;
      }

      .inputs {
        font-family: inter;
        padding: 10px;
        width: 225px;
        height: 44px;
        color: black;
        border-radius: 4px;
        border: 1.5px solid #cbd5e1;
      }

      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #94a3b8;
        opacity: 1;
        /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #94a3b8;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #94a3b8;
      }

      span {
        font-family: inter;
        color: #475569;
        font-size: 14px;
      }
    }

    .business {
      color: #475569;
      width: 248px;
      height: 184px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .inputs {
        font-family: inter;
        padding: 10px;
        width: 225px;
        height: 44px;
        color: black;
        border-radius: 4px;
        border: 1.5px solid #cbd5e1;
      }

      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #94a3b8;
        opacity: 1;
        /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #94a3b8;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #94a3b8;
      }

      :nth-child(1) {
        font-size: 14px;
        font-weight: bold;
        color: #64748b;
      }

      span {
        font-family: inter;
        color: #475569;
        font-size: 14px;
      }
    }

    .contract {
      font-family: inter;
      display: flex;
      flex-direction: column;
      width: 262px;
      height: 75px;
      border-radius: 3px;

      :nth-child(1) {
        font-size: 14px;
        font-weight: bold;
        color: #64748b;
      }

      .header {
        color: #000000;
        display: flex;

        span {
          margin-left: 10px;
          font-size: 14px;
          margin-top: 24px;
        }
        svg {
          margin-top: 24px;
        }
      }
    }
  }
}
